<?php
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$categoryHelper = $this->helper('Carfix\Catalog\Helper\Data')
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?php echo $block->getToolbarHtml() ?>
    <?php echo $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="products wrapper <?php /* @escapeNotVerified */ echo $viewMode; ?> products-<?php /* @escapeNotVerified */ echo $viewMode; ?>">
        <?php $iterator = 1; ?>
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
                <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
                <?php if($viewMode == 'grid'): ?>
                    <div class="product-item-info" data-container="product-grid">
                        <?php //Product Name  ?>
                        <strong class="product name product-item-name">
                            <a class="product-item-link"
                               href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
                                <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                            </a>
                        </strong>
                        <div class="pro-attribute">
                            <div class="attribute.pro" scope="row">
                                <?php /* @escapeNotVerified */ echo __('Original nr:')?> <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getDealnr(), 'dealnr'); ?>
                            </div>
                            <div class="attribute.pro" scope="row">
                                <?php /* @escapeNotVerified */ echo __('Manufacturer:')?> <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getFabrikant(), 'fabrikant'); ?>
                            </div>
					    </div>
					
                        <?php
                        $productImage = $block->getImage($_product, $image);
                        if ($pos != null) {
                            $position = ' style="left:' . $productImage->getWidth() . 'px;'
                                . 'top:' . $productImage->getHeight() . 'px;"';
                        }
                        ?>
                    
                        <?php // Product Image ?>
                        <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
                            <?php echo $productImage->toHtml(); ?>
                        </a>
                        <div class="product details product-item-details">
                            <?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>
                            <?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
                            <?php /* Product Status */ ?>
                            <?php if ($block->displayProductStockStatus()): ?>
                                <div class="product-status">
                                    <?php if ($_product->isAvailable()): ?>
                                        <div class="stock available" title="<?php /* @escapeNotVerified */ echo __('Availability') ?>">
                                            <span><?php /* @escapeNotVerified */ echo __('In stock') ?></span>
                                        </div>
                                    <?php else: ?>
                                        <div class="stock unavailable" title="<?php /* @escapeNotVerified */ echo __('Availability') ?>">
                                            <span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span>
                                        </div>
                                    <?php endif; ?>
                                </div>
                            <?php endif; ?>
                            <?php echo $block->getProductDetailsHtml($_product); ?>

                            <div class="product-item-inner">
                                <div class="product actions product-item-actions"<?php echo strpos($pos, $viewMode . '-actions') ? $position : ''; ?>>
                                    <div class="actions-primary"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
                                        <?php if ($_product->getIsSalable()): ?>
                                            <?php $postParams = $block->getAddToCartPostParams($_product); ?>

                                            <form id="product_addtocart_form_<?php echo $_product->getId() ?>" data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post" data-mage-init='{"validation":{}}'>
                                                <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
                                                <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                                <?php if ($categoryHelper->shouldRenderQuantity($_product)) : ?>
                                                    <div class="box-tocart">
                                                        <div class="fieldset">
                                                            <div class="field qty">
                                                                <label class="label" for="qty"><span><?php /* @escapeNotVerified */ echo __('Qty') ?></span></label>
                                                                <div class="control">
                                                                    <button onclick="decreaseQty(this); return false;">-</button>
                                                                    <input  type="number"
                                                                            name="qty"
                                                                            id="qty"
                                                                            maxlength="12"
                                                                            min-value="<?php echo $qty = $categoryHelper->getProductDefaultQty($_product) * 1 ?>"
                                                                            value="<?php echo $categoryHelper->getProductDefaultQty($_product) * 1 ?>"
                                                                            title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty"
                                                                            data-validate="<?php echo $block->escapeHtml(json_encode($categoryHelper->getQuantityValidators($qty))) ?>"
                                                                        />
                                                                    <button onclick="increaseQty(this); return false;">+</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>
                                                <?php echo $block->getBlockHtml('formkey')?>
                                                <button type="submit"
                                                        title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                        class="action tocart primary">
                                                    <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                </button>
                                            </form>
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <?php else: ?>
                    <?php // Product List Mode ?>
                    <div class="product-item-info list" data-container="product-grid">
                        <?php
                        $productImage = $block->getImage($_product, $image);
                        if ($pos != null) {
                            $position = ' style="left:' . $productImage->getWidth() . 'px;'
                                . 'top:' . $productImage->getHeight() . 'px;"';
                        }
                        ?>
                        <?php // Product Image ?>
                        <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
                            <?php echo $productImage->toHtml(); ?>
                        </a>
                        <?php //Product Name  ?>
                        <div class="prd-continer">
                            <strong class="product name product-item-name">
                                    <a class="product-item-link"
                                       href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
                                        <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                                    </a>
                            </strong>
                            <div class="pro-attribute">
                                <div class="attribute.pro" scope="row"><?php /* @escapeNotVerified */ echo __('Original nr:')?> <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getDealnr(), 'dealnr'); ?></div>
                                <span> | </span>
                                <div class="attribute.pro" scope="row"><?php /* @escapeNotVerified */ echo __('Manufacturer:')?> <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getFabrikant(), 'fabrikant'); ?></div>
                            </div>
                        </div>

                        <div class="product details product-item-details">
                            <?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>
                            <div class="pro-price-status">
                                <?php  echo $block->getProductPrice($_product) ?>
                                <?php /* Product Status */ ?>
                                <div class="product-status">
                                    <?php if ($block->displayProductStockStatus()): ?>
                                        <?php if ($_product->isAvailable()): ?>
                                            <div class="stock available" title="<?php /* @escapeNotVerified */ echo __('Availability') ?>">
                                                <span><?php /* @escapeNotVerified */ echo __('In stock') ?></span>
                                            </div>
                                        <?php else: ?>
                                            <div class="stock unavailable" title="<?php /* @escapeNotVerified */ echo __('Availability') ?>">
                                                <span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span>
                                            </div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                            </div>
                            <?php echo $block->getProductDetailsHtml($_product); ?>

                            <div class="product-item-inner">
                                <div class="product actions product-item-actions"<?php echo strpos($pos, $viewMode . '-actions') ? $position : ''; ?>>
                                    <div class="actions-primary"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
                                        <?php if ($_product->getIsSalable()): ?>
                                            <?php $postParams = $block->getAddToCartPostParams($_product); ?>

                                            <form id="product_addtocart_form_<?php echo $_product->getId() ?>" data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post" data-mage-init='{"validation":{}}'>
                                                <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
                                                <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                                <?php if ($categoryHelper->shouldRenderQuantity($_product)) : ?>
                                                    <div class="box-tocart">
                                                        <div class="fieldset">
                                                            <div class="field qty">
                                                                <label class="label" for="qty"><span><?php /* @escapeNotVerified */ echo __('Qty') ?></span></label>
                                                                <div class="control">
                                                                    <button onclick="decreaseQty(this); return false;">-</button>
                                                                    <input  type="number"
                                                                            name="qty"
                                                                            id="qty"
                                                                            maxlength="12"
                                                                            min-value="<?php echo $qty = $categoryHelper->getProductDefaultQty($_product) * 1 ?>"
                                                                            value="<?php echo $categoryHelper->getProductDefaultQty($_product) * 1 ?>"
                                                                            title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty"
                                                                            data-validate="<?php echo $block->escapeHtml(json_encode($categoryHelper->getQuantityValidators($qty))) ?>"
                                                                        />
                                                                    <button onclick="increaseQty(this); return false;">+</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>
                                                <?php echo $block->getBlockHtml('formkey')?>
                                                <button type="submit"
                                                        title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                        class="action tocart primary">
                                                    <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                </button>
                                            </form>
                                        <?php else: ?>
                                            <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <?php endif; ?>
                <?php echo($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
            <?php endforeach; ?>
        </ol>
    </div>
    <?php echo $block->getToolbarHtml() ?>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCartValidated": {}
            }
        }
        </script>
    <?php endif; ?>
    <script type="text/javascript">
        //<![CDATA[
        function decreaseQty(button) {
            var newQty = parseInt(jQuery(button).next().val()) - 1;
            if (newQty < parseInt(jQuery(button).next().attr('min-value'))) {
                newQty = jQuery(button).next().attr('min-value');
            }
            jQuery(button).next().val(newQty);
        }
        function increaseQty(button) {
            var newQty = parseInt(jQuery(button).prev().val()) + 1;
            jQuery(button).prev().val(newQty);
        }
        //]]>
    </script>
<?php endif; ?>
