<?php
/** @var $block \Magento\Framework\View\Element\Template */
/** @var $helper \Carfix\LicensePlate\Helper\Data */
$helper = $this->helper('Carfix\LicensePlate\Helper\Data');
?>
<?php if ($helper->canShowForm()) : ?>
    <div class="block block-licenseplate-search">
        <div class="block block-title"><strong><?php /* @escapeNotVerified */ echo __('License Plate Search'); ?></strong></div>
        <div class="block block-content">
            <form class="form" id="licenseplate_search_mini_form" action="<?php /* @escapeNotVerified */ echo $helper->getResultUrl() ?>" method="get">
                <div class="field licenseplate-search">
                    <div class="control">
                        <input id="licenseplate.search"
                               data-mage-init='{"licensePlateSearch":{
                                    "formSelector":"#licenseplate_search_mini_form"
                                    }
                               }'
                               type="text"
                               name="<?php /* @escapeNotVerified */ echo $helper->getQueryParamName() ?>"
                               value="<?php /* @escapeNotVerified */ echo $helper->getEscapedQueryText() ?>"
                               placeholder="<?php /* @escapeNotVerified */ echo $block->escapeHtml('CA-RF-IX'); ?>"
                               class="input-text"
                               maxlength="<?php /* @escapeNotVerified */ echo $helper->getMaxQueryLength();?>"
                               role="combobox"
                               aria-haspopup="false"
                               aria-autocomplete="both"
                               autocomplete="off"/>
                    </div>
                </div>
                <div class="action">
                    <button type="submit"
                            title="<?php echo $block->escapeHtml(__('Search')) ?>"
                            class="action search">
                        <span><?php /* @escapeNotVerified */ echo __('Search'); ?></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
<?php endif; ?>